<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars is Cool</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>MARS Rocks!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find Out Cool Info About Mars!</a></p>
    </div>

    <!-- Craigslist Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
      
        <h4 class="heading">{{marsDB.news_title}} </h4>
          <p> {{marsDB.news_paragraph}} </p>
       </div>
    </div>  
      
    <div class="row">
      <div class="col-md-6">
        <h4 class="heading">Featured Mars Picture </h4>  
        <img src="{{marsDB.featured_image}}" alt="MarsPic">

    </div>
  </div>
</body>

</html>
